apiVersion: apps/v1
kind: Deployment
metadata:
  name: gollab-db
  namespace: gollab-demo-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gollab-postgres
  template:
    metadata:
      labels:
        app: gollab-postgres
    spec:
      containers:
        - name: gollab-postgres
          image: postgres:15
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              value: "gollab_db"
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc
